<section class="dark-section">
    <div class="section-heading">
        <h3>What We Offer</h3>
        <h1>Powerful Features for Your Success</h1>
    </div>

    <div class="card-grid">
        <div class="feature-card card-one">
            <div class="heading">
                <div class="icon-box">
                    <fa-icon [icon]="faCode" class="custom-icon"></fa-icon>
                </div>
                <h2>Custom Software</h2>
            </div>

            <p>
                We design custom-built software tailored to your organization’s specific goals and processes.
                From student apps to business platforms, our solutions are intuitive, scalable, and built to drive
                long-term growth.
            </p>
        </div>

        <div class="feature-card card-two">
            <div class="heading">
                <div class="icon-box">
                    <fa-icon [icon]="faCloud" class="custom-icon"></fa-icon>
                </div>
                <h2>Cloud Integration</h2>
            </div>

            <p>
                Connect your systems and data securely in the cloud. Our integrations enable remote access, improved
                collaboration,
                and cost-effective scalability. Ideal for schools, students, and fast-growing teams.
            </p>
        </div>

        <div class="feature-card card-three">
            <div class="heading">
                <div class="icon-box">
                    <fa-icon [icon]="faScrewDriverWrench" class="custom-icon"></fa-icon>
                </div>
                <h2>Maintenance & Support</h2>
            </div>

            <p>
                We provide continuous support and proactive maintenance to keep your software secure, updated, and
                optimized.
                From fixing bugs to evolving your features, we ensure your solution keeps up with your users and your
                mission.
            </p>
        </div>
    </div>
</section>