<footer>
  <h1>How can we help? Contact us.</h1>
  <div class="footer-content">
    <div>
      <h2>Product</h2>
      <label>Overview</label>
      <label>Pricing</label>
      <label>Intergrations</label>
      <label>Demo</label>
    </div>
    <div>
      <h2>Features</h2>
      <label>Core Features</label>
      <label>Advanced Features</label>
      <label>Customization</label>
      <label>Updates</label>
    </div>
    <div>
      <h2>Company</h2>
      <label>About Us</label>
      <label>Team</label>
      <label>Careers</label>
      <label>Contact Us</label>
    </div>
    <div>
      <h2>Support</h2>
      <label>Knowledge Base</label>
      <label>Help Us</label>
      <label>Contact Support</label>
    </div>
    <div>
      <h2>Resources</h2>
      <label>Blog</label>
      <label>Whitepapers</label>
      <label>Webinars</label>
      <label>Case Studies</label>
    </div>
  </div>
  <hr/>
  <div class="footer-bottom">
    <p>&copy;Opencrafts {{year}}</p>
    <div>
      <p>Privacy Policy</p>
      <p>Terms & Conditions</p>
      <p>Sitemap</p>
    </div>
  </div>
</footer>