footer {
  background-color: #ffffff;
  color: #949292;
  position: relative;
  bottom: 0;
  width: 100%;
  font-family: var(--font-din);
}

footer h1 {
  font-size: 3.5rem;
  color: black;
  width: 88%;
  margin: auto;
  margin-bottom: 50px;
  font-family: var(--font-fredoka);
}

footer h2 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: black;
  font-family: var(--font-fredoka);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  width: 90%;
  margin: auto;
}

.footer-content div {
  margin: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-bottom {
  text-align: center;
  padding: 0.5rem;
  color: #949292;
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}

footer p,
footer label {
  cursor: pointer;
}

.footer-bottom div {
  margin: 0 1rem;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

footer hr
{
  width: 90%;
  margin: auto;
  margin-top: 120px;
  margin-bottom: 10px;
  border-color: #9492921f;
}