<footer [class.home]="isHome">
  <!-- Wave divider shown only on homepage -->
  <div class="wave-divider">
    <svg viewBox="0 0 1440 100" preserveAspectRatio="none">
      <path d="M0,0 C360,100 1080,0 1440,100 L1440,0 L0,0 Z"></path>
    </svg>
  </div>

  <!-- <h1>How can we help? Contact us.</h1> -->

  <div class="footer-content">
    <ul class="social-icons">
      <li><a href="https://github.com/opencrafts-io" target="_blank"><fa-icon [icon]="faGithub"></fa-icon></a></li>
      <li><a href="https://www.instagram.com/opencrafts.io" target="_blank"><fa-icon [icon]="faInstagram"></fa-icon></a>
      </li>
      <li><a href="https://www.linkedin.com/in/opencrafts-io-a10339368/" target="_blank"><fa-icon
            [icon]="faLinkedin"></fa-icon></a></li>
      <li><a href="https://x.com" target="_blank"><fa-icon [icon]="faX"></fa-icon></a></li>
    </ul>
    <div class="email-contact">
      <fa-icon [icon]="faEnvelope"></fa-icon>
      <span><a href="mailto:info@opencrafts.io">{{email}}</a></span>
    </div>
  </div>

  <!-- <hr /> -->

  <div class="footer-bottom">
    <p>&copy;Opencrafts {{ year }}</p>
    <div>
      <p><a href="https://policy.opencrafts.io/" >Privacy Policy</a></p>
      <p>Terms & Conditions</p>
      <p>Sitemap</p>
    </div>
  </div>
</footer>
