<nav class="menubar">
    <div class="logo">Opencrafts</div>
    <button class="hamburger" (click)="toggleDrawer()">
        &#9776;
    </button>
    <ul class="menu">
        <li><a routerLink="/home" routerLinkActive="active-link">Home</a></li>
        <li><a routerLink="/about" routerLinkActive="active-link">About</a></li>
        <li><a routerLink="/contact" routerLinkActive="active-link">Contact Us</a></li>
    </ul>
    <ul class="social-icons">
        <li><a href="https://github.com/opencrafts-io" target="_blank"><fa-icon [icon]="faGithub"></fa-icon></a></li>
        <li><a href="https://www.instagram.com/opencrafts.io?igsh=aXV0Ym5wM2sxZDI2&utm_source=qr" target="_blank"><fa-icon [icon]="faInstagram"></fa-icon></a></li>
        <li><a href="https://www.linkedin.com/in/opencrafts-io-a10339368/" target="_blank"><fa-icon [icon]="faLinkedin"></fa-icon></a></li>
        <li><a href="https://x.com" target="_blank"><fa-icon [icon]="faX"></fa-icon></a></li>
    </ul>
</nav>

@if (drawerOpen()) {
    <app-drawer />
}