<section class="full-height-section">
    <div class="section-container">
        <div class="text-area">
            <h2>Industrial Grade Products</h2>
            <p>Made by developers, trusted by users</p>
        </div>

        <div class="icons-area">
            <div class="icon-item">
                <fa-icon [icon]="faDatabase"></fa-icon>
                <span>Verisafe</span>
            </div>
            <div class="icon-item">
                <fa-icon [icon]="faMobile"></fa-icon>
                <span>Academia</span>
            </div>
            <div class="icon-item">
                <fa-icon [icon]="faSocial"></fa-icon>
                <span>Chirp</span>
                <span class="coming-soon">Coming Soon</span>
            </div>
            <div class="icon-item">
                <fa-icon [icon]="faChapel"></fa-icon>
                <span>Chapel Attendance</span>
            </div>
            <div class="icon-item">
                <fa-icon [icon]="faEvent"></fa-icon>
                <span>Sherehe</span>
                <span class="coming-soon">Coming Soon</span>
            </div>
            <div class="icon-item">
                <fa-icon [icon]="faPayment"></fa-icon>
                <span>Veribroke</span>
                <span class="coming-soon">Coming Soon</span>
            </div>
        </div>

    </div>
</section>