.page-container {
  scroll-snap-type: y mandatory;
  /* min-height: 100vh; */
  scroll-behavior: smooth;
}

.page-section {
  background-image: url('/../../../../../images/computer_lab.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  transform: translateY(0);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

.page-section.visible {
  opacity: 1;
  transform: translateY(0);
}

.page-section::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem;
  gap: 2rem;
  position: relative;
  z-index: 3;
  /* background-color: #fdfdfd; */
}

.text-content {
  max-width: 100%;
}

.text-content h1 {
  font-family: var(--font-fredoka);
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: white;
}

.text-content p {
  font-family: var(--font-din);
  font-size: 1.25rem;
  margin-bottom: 2rem;
  font-weight: 500;
  color: white;
}

.cta-buttons {
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.primary-btn,
.secondary-btn {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.primary-btn {
  background-color: #4f46e5;
  color: white;
}

.primary-btn:hover {
  background-color: #4338ca;
}

.secondary-btn {
  background-color: transparent;
  color: #4f46e5;
  border: 2px solid #4f46e5;
}

.secondary-btn:hover {
  background-color: #eef2ff;
}

@media (max-width: 468px) {
  .page-section {
    min-height: 100vh;
  }

  .flex-container {
    flex-direction: column;
    padding: 0.5rem;
  }

  .text-content p {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .flex-container {
    flex-direction: column;
    padding: 1rem;
  }

  /* .text-content {
    max-width: 100%;
  } */

  .text-content h1 {
    font-size: 1.5rem;
  }

  .text-content p {
    font-size: 1rem;
  }

  .cta-buttons {
    justify-content: center;
  }

  .primary-btn,
  .secondary-btn {
    width: 100%;
    text-align: center;
  }
}

/* @media (min-width: 1024px) {
  .text-content {
    max-width: 100%;
  }
} */