@font-face {
  font-family: 'Fredoka One';
  src: url('assets/fonts/fredoka-one/FredokaOne-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Regular */
@font-face {
  font-family: 'DIN';
  src: url('assets/fonts/din/D-DIN.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: 'DIN';
  src: url('assets/fonts/din/D-DIN-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

/* Italic */
@font-face {
  font-family: 'DIN';
  src: url('assets/fonts/din/D-DIN-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

/* Condensed Bold  */
@font-face {
  font-family: 'DIN Condensed';
  src: url('assets/fonts/din/D-DINCondensed-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

/* Expanded Regular */
@font-face {
  font-family: 'DIN Expanded';
  src: url('assets/fonts/din/D-DINExp.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

/* Expanded Italic */
@font-face {
  font-family: 'DIN Expanded';
  src: url('assets/fonts/din/D-DINExp-Italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

:root {
    --font-fredoka: 'Fredoka One', sans-serif;
    --font-din: 'DIN', sans-serif;
    --font-din-condensed: 'DIN Condensed', sans-serif;
    --font-din-expanded: 'DIN Expanded', sans-serif;
}
